:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #cfc7b0;
  background-color: #0d0b07;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background: #0d0b07;
}

a {
  color: #c8975a;
  text-decoration: none;
}

a:hover {
  color: #e8b870;
  text-decoration: underline;
}
